// .backgroundImg{
//     background-position: center;
//     background-size: cover;
//     background-repeat: no-repeat;
// }

//placeholder
%backgroundImg{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}